* {
  box-sizing: border-box; }

body {
  background: url("../img/header.jpg") no-repeat;
  background-size: 100% 700px; }

.container {
  position: relative;
  width: 940px;
  margin: 0 auto; }

.header {
  height: 700px; }
  .header h6 {
    position: absolute;
    top: 370px;
    left: 272px;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: white;
    line-height: 1.2;
    font-weight: 200; }
  .header h4 {
    display: block;
    position: absolute;
    top: 225px;
    left: 232px;
    width: 590px;
    font-size: 52px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center; }

.logo {
  display: block;
  padding-top: 50px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2; }

.log__in a {
  display: block;
  border: 2px solid transparent;
  position: absolute;
  padding: 10px 16px;
  margin: 2px;
  top: 33px;
  width: 100px;
  height: 56px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.2; }

.log__in a:hover {
  border: 2px solid white;
  border-radius: 16px; }

#log__in--log {
  right: 95px; }

#log__in--sign {
  right: 0; }

.find__partner {
  display: block;
  position: absolute;
  top: 425px;
  left: 362px;
  width: 225px;
  height: 40px;
  padding: 12px 22px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 1.2;
  background-color: #ff4e50;
  border: 1px solid #ff4e50;
  border-radius: 15px; }

.main {
  display: block;
  width: 1040px;
  margin: 100px auto; }

.main--head {
  display: block;
  position: relative;
  margin-left: 325px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: bold;
  line-height: 1.2; }

.work {
  border-radius: 3px;
  display: inline-block;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px 20px;
  padding: 20px;
  background-size: 100%; }

.work--first {
  background-image: url("../img/work1.jpg"); }

.work--second {
  background-image: url("../img/work2.jpg"); }

.work--third {
  background-image: url("../img/work3.jpg"); }

.sliders {
  margin: 0 auto;
  padding: 40px 0 100px 0; }

#ie8_block1,  #ie8_block2, #ie8_block3{
  display: block;
  width: auto}

.step {
  display: block;
  position: absolute;
  bottom: 150px;
  width: 70px;
  height: 20px;
  padding: 7px 0 0 14px;
  background-color: #ff4e50;
  border-radius: 7px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: white;
  text-transform: uppercase;
  line-height: 1.2; }

.meet__partner {
  display: block;
  margin-left: 270px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: bold;
  line-height: 1.2; }

.work--second .step {
  bottom: 120px; }

.work--head {
  display: block;
  position: absolute;
  bottom: 84px;
  width: 195px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.2; }

.work--text {
  display: block;
  position: absolute;
  bottom: 20px;
  width: 260px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #cccccc;
  line-height: 1.2; }

.feedback_partners {
  float: left;
  position: relative;
  width: 220px;
  margin: 100px 15px; }

.feedback_partners img {
  display: block;
  margin: 0 auto;
  border-radius: 60px; }

.feedback_partners a {
  display: block;
  width: 110px;
  margin: 0 auto; }

.feedback_partners a span {
  display: block;
  margin: 20px auto;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }

.icon {
  position: absolute;
  top: 85px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../img/spriteIcon.png"); }

.icon--second {
  background-position: -41px; }

.icon--third {
  background-position: -82px; }

.icon--four {
  background-position: -123px; }

.feedback_partners--phrase {
  display: block;
  margin: 20px auto;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #666666;
  line-height: 1.2;
  text-align: center; }

.feedback_partners--other {
  display: block;
  clear: both;
  width: 195px;
  border: 2px solid #ff4e50;
  border-radius: 17px;
  margin: 40px auto 100px;
  padding: 13px 28px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #ff4e50;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }

.holiday {
  display: block;
  margin: 20px auto;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  text-align: center; }

.holiday--interest {
  display: block;
  margin: 20px auto;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #333333;
  line-height: 1.2;
  text-align: center; }

form {
  display: block;
  width: 460px;
  margin: 0 auto; }

#search {
  width: 240px;
  height: 40px;
  margin-right: 10px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.004); }

#button {
  display: inline-block;
  width: 160px;
  height: 40px;
  background-color: #ff4e50;
  border-radius: 17px; }

#button a {
  display: block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: auto; }

.line {
  position: absolute;
  bottom: 200px;
  width: 100%;
  border-top: 3px solid rgb(255, 78, 80); }

.footer {
  padding: 35px 0 40px;
  position: relative; }

.footer--company {
  display: inline-block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #ff4e50;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center; }

.footer img {
  position: absolute;
  right: 0;
  top: 40px; }

.footer--head {
  display: inline-block;
  margin-left: 95px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  text-align: left; }

.footer ul {
  width: 70px;
  margin-left: 233px; }

.footer--item {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #666666;
  line-height: 1.714;
  text-align: left; }

.owl-carousel {
  margin-right: 20px; }

.grid {
  display: none; }

.clear-fix:after {
  content: "";
  display: block;
  clear: both; }

