$Montserrat: "Montserrat", sans-serif;
$Roboto: "Roboto", sans-serif;
$iconPosition: -41px;

    *{
        box-sizing: border-box;
    }

    body{
        position: relative;
        background: url("../img/header.jpg") no-repeat;
        background-size: 100% 700px;
    }

    .container{
        position: relative;
        width: 940px;
        margin: 0 auto;
    }

    .header {
        height: 700px;

        h6 {
            position: absolute;
            top: 370px;
            left: 272px;
            font-size: 24px;
            font-family: $Roboto;
            color: rgb(255, 255, 255);
            line-height: 1.2;
            font-weight: 200;
        }

        h4 {
            display: block;
            position: absolute;
            top: 225px;
            left: 232px;
            width: 490px;
            font-size: 52px;
            font-family: $Montserrat;
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.2;
            text-align: center;
        }
    }

    .logo {
        display: block;
        padding-top: 50px;
        font-size: 20px;
        font-family: $Montserrat;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
    }

    .log__in a {
        display: block;
        border: 2px solid transparent;
        position: absolute;
        padding: 10px 16px;
        margin: 2px;
        top: 33px;
        width: 90px;
        height: 36px;
        font-size: 14px;
        font-family: $Montserrat;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
    }

    .log__in a:hover {
        border: 2px solid white;
        border-radius: 16px;
    }

    #log__in--log {
        right: 95px;
    }

    #log__in--sign {
        right: 0;
    }

    .find__partner {
        display: block;
        position: absolute;
        top: 425px;
        left: 362px;
        width: 225px;
        height: 40px;
        padding: 12px 22px;
        font-size: 14px;
        font-family: $Montserrat;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        background-color: rgb(255, 78, 80);
        border: 1px solid rgb(255, 78, 80);
        border-radius: 15px;
    }

    .main {
        display: block;
        width: 1040px;
        margin: 100px auto;
    }
    .main--head {
        display: block;
        position: relative;
        margin-left: 325px;
        font-size: 22px;
        font-family: $Montserrat;
        color: rgb(51, 51, 51);
        font-weight: bold;
        line-height: 1.2;
    }

    .work {
        border-radius: 3px;
        display: inline-block;
        position: relative;
        width: 300px;
        height: 400px;
        margin: 40px 20px;
        padding: 20px;
        background-size: 100%;
    }

    .work--first {
        background-image: url("../img/work1.jpg");
    }

    .work--second {
        background-image: url("../img/work2.jpg");
    }

    .work--third{
            background-image: url("../img/work3.jpg");
        }

    .sliders{
            margin: 0 auto;
            padding: 40px 0 100px 0;
        }

    .step {
        display: block;
        position: absolute;
        bottom: 150px;
        width: 70px;
        height: 20px;
        padding: 7px 0 0 14px;
        background-color: rgb(255, 78, 80);
        border-radius: 7px;
        font-size: 10px;
        font-family: $Montserrat;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.2;
    }

    .meet__partner {
        display: block;
        margin-left: 270px;
        font-size: 22px;
        font-family: $Montserrat;
        color: rgb(51, 51, 51);
        font-weight: bold;
        line-height: 1.2;
    }

    .work--second .step {
            bottom: 120px;
        }

    .work--head {
            display: block;
            position: absolute;
            bottom: 84px;
            width: 195px;
            font-size: 24px;
            font-family: $Montserrat;
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.2;
        }

    .work--text {
            display: block;
            position: absolute;
            bottom: 20px;
            width: 260px;
            font-size: 14px;
            font-family: $Roboto;
            color: rgb(204, 204, 204);
            line-height: 1.2;
        }

    .feedback_partners {
            float: left;
            position: relative;
            width: 220px;
            margin: 100px 15px;
        }

    .feedback_partners img {
            display: block;
            margin: 0 auto;
            border-radius: 60px;
        }

    .feedback_partners a{
            display: block;
            width: 110px;
            margin: 0 auto;
        }

    .feedback_partners a span{
            display: block;
            margin: 20px auto;
            font-size: 14px;
            font-family: $Montserrat;
            color: rgb(51, 51, 51);
            font-weight: bold;
            line-height: 1.2;
            text-align: center;
        }

    .icon {
        position: absolute;
        top: 85px;
        right: 50px;
        width: 40px;
        height: 40px;
        background-image: url("../img/spriteIcon.png");
    }

    .icon--second{
        background-position: $iconPosition;
    }

    .icon--third{
        background-position: $iconPosition*2;
    }

    .icon--four{
        background-position: $iconPosition*3;
    }

    .feedback_partners--phrase{
        display: block;
        margin: 20px auto;
        font-size: 14px;
        font-family: $Roboto;
        color: rgb(102, 102, 102);
        line-height: 1.2;
        text-align: center;
    }

    .feedback_partners--other {
        display: block;
        clear: both;
        width: 195px;
        border: 2px solid rgb(255, 78, 80);
        border-radius: 17px;
        margin: 40px auto 100px;
        padding: 13px 28px;
        font-size: 14px;
        font-family: $Montserrat;
        color: rgb(255, 78, 80);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }

    .holiday{
        display: block;
        margin: 20px auto;
        font-size: 22px;
        font-family: $Montserrat;
        color: rgb(51, 51, 51);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }

    .holiday--interest{
        display: block;
        margin: 20px auto;
        font-size: 18px;
        font-family: $Roboto;
        color: rgb(51, 51, 51);
        line-height: 1.2;
        text-align: center;
    }

    form{
        display: block;
        width: 460px;
        margin: 0 auto;
    }

    #search{
        width: 240px;
        height: 40px;
        margin-right: 10px;
        padding: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(204, 204, 204);
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.004);
    }

    #button{
        display: inline-block;
        width: 160px;
        height: 40px;
        background-color: rgb(255, 78, 80);
        border-radius: 17px;
    }

    #button a{
        display: block;
        font-size: 14px;
        font-family: $Montserrat;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        margin: auto;
    }


.footer{
    padding: 35px 0 40px;
    position: relative;
}

.footer--company{
    display: inline-block;
    font-size: 16px;
    font-family: $Montserrat;
    color: rgb(255, 78, 80);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.footer img{
    position: absolute;
    right: 0;
    top: 40px;
}

.footer--head{
    display: inline-block;
    margin-left: 95px;
    font-size: 14px;
    font-family: $Montserrat;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.footer ul{
    width: 70px;
    margin-left: 233px;
}

.footer--item{
    display: block;
    font-size: 14px;
    font-family: $Roboto;
    color: rgb(102, 102, 102);
    line-height: 1.714;
    text-align: left;
}

.line{
    position: absolute;
    bottom: 200px;
    width: 100%;
    border-top: 3px solid rgb(255, 78, 80);
}

.owl-carousel{
    margin-right: 20px;
}

.grid{
    position: relative;
    margin: 20px;
    }

    .grid-item img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .grid-item span{
        top: 30%;
        left: 10%;
        position: absolute;
        font-size: 22px;
        font-family: $Montserrat;
        color: rgb(255, 78, 80);;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }

    .clear-fix:after {
        content: "";
        display: block;
        clear: both;
    }

    /*------------- 768px -------------*/
    @media screen and (max-width: 1070px) {

        body{
            background-size: auto;
            background-position: top;
        }

        .container{
            width: 750px;
        }

        .logo{
            margin-left: 47px;
        }

        .header{
            h4{
                left: 145px;
            }

            h6{
                left: 180px;
            }
        }

        .find__partner{
           left: 270px;
        }

        .main{
            width: auto;
        }

        .main--head{
            margin-left: 245px;
        }

        .sliders .owl-carousel{
            width: 234px;
        }

        .no_right_margin{
            margin: 0;
        }

        .meet__partner{
            margin-left: 180px;
        }

        .feedback{
            width: 500px;
            margin: 0 auto;
        }

        .feedback_partners{
            margin: 25px 15px;
        }

        .feedback_partners--other{
            margin: 35px auto 100px;
        }

        .footer--company{
            margin-left: 40px;
        }

        .footer img{
            right: 40px;
        }

        .footer--head{
            margin-left: 85px;
        }

        .footer--item{
            margin-left: 30px;
        }
    }

    @media screen and (max-width: 499px){

        body{
            background-size: auto 540px;
        }

        .container{
            width: 300px;
        }

        .header{
            height: 540px;
        }

        .logo{
            position: absolute;
            top: 175px;
            margin: 0 70px;
            padding: 0;
        }

        #log__in--log{
            left: 60px;
            margin: 0;
        }

        #log__in--sign{
            right: 60px;
        }

        .header h4{
            left: 0;
            font-size: 30px;
            font-family: $Montserrat;
            width: auto;
        }

        .header h6{
            font-size: 18px;
            text-align: center;
            left: 30px;
        }

        .find__partner{
            left: 0;
            width: 280px;
            padding: 10px 50px;
        }

        .main{
            margin: 40px auto 0;
        }

        .main--head{
            margin-left: 5px;
        }

        .sliders{
            padding: 40px 0;
        }

        .sliders .owl-carousel{
            width: 300px;
            height: 240px;
            margin-right: 0;
        }

        .meet__partner{
            margin-left: 20px;
            text-align: center;
        }

        .feedback{
            width: 220px;
        }

        .feedback_partners{
            margin: 30px auto;
        }

        .feedback_partners--other{
            margin: 30px auto 35px;
            width: 280px;
        }

        #search{
            width: 280px;
            margin: 0 auto 10px;
        }

        #button{
            width: 280px;
            margin: 0 auto 40px;
        }

        .line{
            margin: 0;
        }

        .footer--company{
            display: block;
            margin: 0 auto 15px;
        }

        .footer--head{
            display: block;
            margin: 0 auto;
            text-align: center
        }

        .footer ul{
            margin: 0 auto 10px;
            width: 220px;
        }

        .footer--item{
            display: inline-block;
            margin: 6px;
            text-align: center
        }

        .footer img{
            display: block;
            position: static;
            margin: 20px auto;
        }

        form{
            width: 280px;
            margin: 0 auto;
        }

    }


